<h1>Login</h1>
<div class="bg-danger p-2 text-white" *ngIf="submitted && form.invalid">
	There are problems with the form
	<ul>
		<li *ngFor="let error of form.getFormValidationMessages()">
			{{error}}
		</li>
	</ul>
</div>
<div class="bg-danger p-2 text-white" *ngIf="errorMessage">
	{{errorMessage}}
</div>
<form class="col-4" [formGroup]="form" novalidate (ngSubmit)="login(form)">
	<div class="form-group">
		<label>{{form.getCustomControl('username').label}}</label>
		<input class="form-control" type="text" placeholder="Your username" formControlName="username" name="username" />
		<ul class="text-danger list-unstyled"
			*ngIf="(submitted || form.controls['username'].dirty) && form.controls['username'].invalid">
			<li *ngFor="let error of form.getCustomControl('username').getValidationMessages()">{{error}}</li>
		</ul>
	</div>
	<div class="form-group">
		<label>{{form.getCustomControl('password').label}}</label>
		<input class="form-control" type="password" placeholder="Password" formControlName="password" name="password" />
		<ul class="text-danger list-unstyled"
			*ngIf="(submitted || form.controls['password'].dirty) && form.controls['password'].invalid">
			<li *ngFor="let error of form.getCustomControl('password').getValidationMessages()">{{error}}</li>
		</ul>
	</div>
	<input type="submit" value="Login" class="btn btn-primary" [disabled]="submitted && form.invalid"
		[class.btn-secondary]="submitted && form.invalid" />
</form>